In [18]:
import pandas as pd
import matplotlib.pyplot as plt

In [44]:
df = pd.read_csv("USDC_1_1_2024-9_30_2025_historical_data_coinmarketcap.csv", sep=";")

In [45]:
df

,timeOpen,timeClose,timeHigh,timeLow,name,open,high,low,close,volume,marketCap,timestamp
0,2025-10-01T00:00:00.000Z,2025-10-01T23:59:59.999Z,2025-10-01T22:10:00.000Z,2025-10-01T09:36:00.000Z,2781,0.999806,1.000322,0.999380,1.000013,1.901570e+10,7.415261e+10,2025-10-01T23:59:59.999Z
1,2025-09-30T00:00:00.000Z,2025-09-30T23:59:59.999Z,2025-09-30T14:01:00.000Z,2025-09-30T20:54:00.000Z,2781,0.999763,1.000733,0.999365,0.999795,1.624326e+10,7.387125e+10,2025-09-30T23:59:59.999Z
2,2025-09-29T00:00:00.000Z,2025-09-29T23:59:59.999Z,2025-09-29T13:44:00.000Z,2025-09-29T02:41:00.000Z,2781,0.999730,1.000711,0.999332,0.999822,1.559115e+10,7.353245e+10,2025-09-29T23:59:59.999Z
3,2025-09-28T00:00:00.000Z,2025-09-28T23:59:59.999Z,2025-09-28T22:44:00.000Z,2025-09-28T19:12:00.000Z,2781,0.999830,1.000733,0.999325,0.999900,9.271471e+09,7.368778e+10,2025-09-28T23:59:59.999Z
4,2025-09-27T00:00:00.000Z,2025-09-27T23:59:59.999Z,2025-09-27T22:18:00.000Z,2025-09-27T02:22:00.000Z,2781,0.999758,1.000428,0.999342,0.999830,8.597380e+09,7.373462e+10,2025-09-27T23:59:59.999Z
...,...,...,...,...,...,...,...,...,...,...,...,...
395,2024-09-01T00:00:00.000Z,2024-09-01T23:59:59.999Z,2024-09-01T23:09:00.000Z,2024-09-01T18:28:00.000Z,2781,0.999966,1.001240,0.999341,0.999993,3.944522e+09,3.474251e+10,2024-09-01T23:59:59.999Z
396,2024-08-31T00:00:00.000Z,2024-08-31T23:59:59.999Z,2024-08-31T06:56:00.000Z,2024-08-31T21:47:00.000Z,2781,1.000003,1.000621,0.999666,0.999972,1.982581e+09,3.472225e+10,2024-08-31T23:59:59.999Z
397,2024-08-30T00:00:00.000Z,2024-08-30T23:59:59.999Z,2024-08-30T15:38:00.000Z,2024-08-30T12:32:00.000Z,2781,0.999940,1.001266,0.999280,0.999972,6.018973e+09,3.474336e+10,2024-08-30T23:59:59.999Z
398,2024-08-29T00:00:00.000Z,2024-08-29T23:59:59.999Z,2024-08-29T18:16:00.000Z,2024-08-29T18:50:00.000Z,2781,0.999926,1.002038,0.999649,0.999963,6.251270e+09,3.464990e+10,2024-08-29T23:59:59.999Z
399,2024-08-28T00:00:00.000Z,2024-08-28T23:59:59.999Z,2024-08-28T20:33:00.000Z,2024-08-28T20:22:00.000Z,2781,1.000001,1.001446,0.999250,0.999919,7.652369e+09,3.448092e+10,2024-08-28T23:59:59.999Z

In [31]:
df["timestamp"] = pd.to_datetime(df["timestamp"])

In [32]:
df["Quarter"] = df["timestamp"].dt.to_period("Q")

avg_marketcap = df.groupby('Quarter')['marketCap'].mean().reset_index()

/var/folders/tb/zk15pcq16yng7wq853lq67ph0000gn/T/ipykernel_68782/2597515537.py:1: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  df["Quarter"] = df["timestamp"].dt.to_period("Q")

In [33]:
avg_marketcap

  Quarter     marketCap
0  2024Q3  3.542271e+10
1  2024Q4  3.815819e+10
2  2025Q1  5.422043e+10
3  2025Q2  6.114668e+10
4  2025Q3  6.792275e+10
5  2025Q4  7.415261e+10

In [35]:
avg_marketcap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Quarter    6 non-null      period[Q-DEC]
 1   marketCap  6 non-null      float64
dtypes: float64(1), period[Q-DEC](1)
memory usage: 228.0 bytes

In [36]:
avg_marketcap = avg_marketcap.sort_values('Quarter')

In [47]:
df

,timeOpen,timeClose,timeHigh,timeLow,name,open,high,low,close,volume,marketCap,timestamp
0,2025-10-01T00:00:00.000Z,2025-10-01T23:59:59.999Z,2025-10-01T22:10:00.000Z,2025-10-01T09:36:00.000Z,2781,0.999806,1.000322,0.999380,1.000013,1.901570e+10,7.415261e+10,2025-10-01T23:59:59.999Z
1,2025-09-30T00:00:00.000Z,2025-09-30T23:59:59.999Z,2025-09-30T14:01:00.000Z,2025-09-30T20:54:00.000Z,2781,0.999763,1.000733,0.999365,0.999795,1.624326e+10,7.387125e+10,2025-09-30T23:59:59.999Z
2,2025-09-29T00:00:00.000Z,2025-09-29T23:59:59.999Z,2025-09-29T13:44:00.000Z,2025-09-29T02:41:00.000Z,2781,0.999730,1.000711,0.999332,0.999822,1.559115e+10,7.353245e+10,2025-09-29T23:59:59.999Z
3,2025-09-28T00:00:00.000Z,2025-09-28T23:59:59.999Z,2025-09-28T22:44:00.000Z,2025-09-28T19:12:00.000Z,2781,0.999830,1.000733,0.999325,0.999900,9.271471e+09,7.368778e+10,2025-09-28T23:59:59.999Z
4,2025-09-27T00:00:00.000Z,2025-09-27T23:59:59.999Z,2025-09-27T22:18:00.000Z,2025-09-27T02:22:00.000Z,2781,0.999758,1.000428,0.999342,0.999830,8.597380e+09,7.373462e+10,2025-09-27T23:59:59.999Z
...,...,...,...,...,...,...,...,...,...,...,...,...
395,2024-09-01T00:00:00.000Z,2024-09-01T23:59:59.999Z,2024-09-01T23:09:00.000Z,2024-09-01T18:28:00.000Z,2781,0.999966,1.001240,0.999341,0.999993,3.944522e+09,3.474251e+10,2024-09-01T23:59:59.999Z
396,2024-08-31T00:00:00.000Z,2024-08-31T23:59:59.999Z,2024-08-31T06:56:00.000Z,2024-08-31T21:47:00.000Z,2781,1.000003,1.000621,0.999666,0.999972,1.982581e+09,3.472225e+10,2024-08-31T23:59:59.999Z
397,2024-08-30T00:00:00.000Z,2024-08-30T23:59:59.999Z,2024-08-30T15:38:00.000Z,2024-08-30T12:32:00.000Z,2781,0.999940,1.001266,0.999280,0.999972,6.018973e+09,3.474336e+10,2024-08-30T23:59:59.999Z
398,2024-08-29T00:00:00.000Z,2024-08-29T23:59:59.999Z,2024-08-29T18:16:00.000Z,2024-08-29T18:50:00.000Z,2781,0.999926,1.002038,0.999649,0.999963,6.251270e+09,3.464990e+10,2024-08-29T23:59:59.999Z
399,2024-08-28T00:00:00.000Z,2024-08-28T23:59:59.999Z,2024-08-28T20:33:00.000Z,2024-08-28T20:22:00.000Z,2781,1.000001,1.001446,0.999250,0.999919,7.652369e+09,3.448092e+10,2024-08-28T23:59:59.999Z

In [74]:
test[test["Quarter"]]

,name,open,high,low,close,volume,marketCap,timestamp,Quarter
0,2781,0.996413,1.061390,0.982746,1.010397,1.414322e+07,1.783507e+08,2018-10-31 17:00:00,2018Q4
1,2781,1.012818,1.042865,0.978583,1.016565,2.097570e+07,2.542302e+08,2018-11-30 16:00:00,2018Q4
2,2781,1.018946,1.044892,0.989169,1.012485,3.001699e+07,2.977900e+08,2018-12-31 16:00:00,2018Q4
3,2781,1.011765,1.037758,0.998658,1.013673,3.163008e+07,2.341184e+08,2019-01-31 16:00:00,2019Q1
4,2781,1.013117,1.049149,0.992955,1.001494,2.426261e+07,2.462701e+08,2019-02-28 16:00:00,2019Q1
...,...,...,...,...,...,...,...,...,...
79,2781,0.999832,1.001438,0.998611,1.000019,2.913968e+11,6.150430e+10,2025-05-31 17:00:00,2025Q2
80,2781,1.000073,1.001856,0.998291,1.000032,4.150914e+11,6.411811e+10,2025-06-30 17:00:00,2025Q2
81,2781,1.000012,1.001837,0.998528,0.999790,4.957753e+11,7.154312e+10,2025-07-31 17:00:00,2025Q3
82,2781,0.999716,1.001501,0.999060,0.999795,4.611671e+11,7.387125e+10,2025-08-31 17:00:00,2025Q3
83,2781,0.999791,1.000307,0.999155,0.999504,0.000000e+00,0.000000e+00,2025-09-30 17:00:00,2025Q3

In [53]:
test = pd.read_csv("USDC_All_graph_coinmarketcap.csv", sep = ";")

test["timestamp"] = pd.to_datetime(test["timestamp"])

test["Quarter"] = test["timestamp"].dt.to_period("Q")

avg_marketcap = test.groupby('Quarter')['marketCap'].mean().reset_index()

In [55]:
avg_marketcap

   Quarter     marketCap
0   2018Q4  2.434570e+08
1   2019Q1  2.588456e+08
2   2019Q2  3.787531e+08
3   2019Q3  4.485581e+08
4   2019Q4  4.739239e+08
5   2020Q1  6.177105e+08
6   2020Q2  9.126665e+08
7   2020Q3  2.271462e+09
8   2020Q4  4.245235e+09
9   2021Q1  1.131066e+10
10  2021Q2  2.504175e+10
11  2021Q3  3.069926e+10
12  2021Q4  4.356038e+10
13  2022Q1  5.139607e+10
14  2022Q2  5.472406e+10
15  2022Q3  4.775896e+10
16  2022Q4  4.338686e+10
17  2023Q1  3.515819e+10
18  2023Q2  2.760711e+10
19  2023Q3  2.534218e+10
20  2023Q4  2.529295e+10
21  2024Q1  3.138732e+10
22  2024Q2  3.264661e+10
23  2024Q3  3.501545e+10
24  2024Q4  4.571001e+10
25  2025Q1  5.932111e+10
26  2025Q2  6.219687e+10
27  2025Q3  4.847145e+10

In [57]:
usdc_data = pd.DataFrame({
    "Quarter": [
        "2018Q4", "2019Q1", "2019Q2", "2019Q3", "2019Q4",
        "2020Q1", "2020Q2", "2020Q3", "2020Q4",
        "2021Q1", "2021Q2", "2021Q3", "2021Q4",
        "2022Q1", "2022Q2", "2022Q3", "2022Q4",
        "2023Q1", "2023Q2", "2023Q3", "2023Q4",
        "2024Q1", "2024Q2", "2024Q3", "2024Q4",
        "2025Q1", "2025Q2", "2025Q3"
    ],
    # Converted from scientific notation to billions of USD
    "USDC_Mcap": [
         0.243,  0.259,  0.379,  0.449,  0.474,
         0.618,  0.913,  2.271,  4.245,
        11.311, 25.042, 30.699, 43.560,
        51.396, 54.724, 47.759, 43.387,
        35.158, 27.607, 25.342, 25.293,
        31.387, 32.647, 35.015, 45.710,
        59.321, 62.197, 48.471   # billions USD
    ]
})

In [58]:
usdc_data

   Quarter  USDC_Mcap
0   2018Q4      0.243
1   2019Q1      0.259
2   2019Q2      0.379
3   2019Q3      0.449
4   2019Q4      0.474
5   2020Q1      0.618
6   2020Q2      0.913
7   2020Q3      2.271
8   2020Q4      4.245
9   2021Q1     11.311
10  2021Q2     25.042
11  2021Q3     30.699
12  2021Q4     43.560
13  2022Q1     51.396
14  2022Q2     54.724
15  2022Q3     47.759
16  2022Q4     43.387
17  2023Q1     35.158
18  2023Q2     27.607
19  2023Q3     25.342
20  2023Q4     25.293
21  2024Q1     31.387
22  2024Q2     32.647
23  2024Q3     35.015
24  2024Q4     45.710
25  2025Q1     59.321
26  2025Q2     62.197
27  2025Q3     48.471

In [65]:
import pandas_datareader.data as web
import pandas as pd

fed = web.DataReader('FEDFUNDS', 'fred', start='2018-01-01')
fed_q = fed.resample('Q').mean()  # quarterly average

In [66]:
fed_q

            FEDFUNDS
DATE
2018-03-31  1.446667
2018-06-30  1.736667
2018-09-30  1.923333
2018-12-31  2.220000
2019-03-31  2.403333
2019-06-30  2.396667
2019-09-30  2.190000
2019-12-31  1.643333
2020-03-31  1.260000
2020-06-30  0.060000
2020-09-30  0.093333
2020-12-31  0.090000
2021-03-31  0.080000
2021-06-30  0.070000
2021-09-30  0.090000
2021-12-31  0.080000
2022-03-31  0.120000
2022-06-30  0.770000
2022-09-30  2.190000
2022-12-31  3.653333
2023-03-31  4.516667
2023-06-30  4.990000
2023-09-30  5.260000
2023-12-31  5.330000
2024-03-31  5.330000
2024-06-30  5.330000
2024-09-30  5.263333
2024-12-31  4.650000
2025-03-31  4.330000
2025-06-30  4.330000
2025-09-30  4.293333

In [67]:
t_bill = web.DataReader('DGS3MO', 'fred', start='2018-01-01')
t_bill_q = t_bill.resample('Q').mean()

In [72]:
yield_q = 0.15 * fed_q['FEDFUNDS'] + 0.85 * t_bill_q['DGS3MO']
yield_q = yield_q / 100

In [73]:
yield_q[5:]

DATE
2019-06-30    0.023610
2019-09-30    0.020507
2019-12-31    0.016129
2020-03-31    0.011274
2020-06-30    0.001299
2020-09-30    0.001104
2020-12-31    0.000925
2021-03-31    0.000555
2021-06-30    0.000319
2021-09-30    0.000557
2021-12-31    0.000581
2022-03-31    0.002810
2022-06-30    0.010537
2022-09-30    0.026689
2022-12-31    0.041073
2023-03-31    0.047420
2023-06-30    0.052276
2023-09-30    0.054942
2023-12-31    0.054953
2024-03-31    0.054356
2024-06-30    0.054460
2024-09-30    0.052313
2024-12-31    0.045882
2025-03-31    0.043360
2025-06-30    0.043618
2025-09-30    0.042678
2025-12-31         NaN
Freq: Q-DEC, dtype: float64

In [75]:
cbEth = pd.read_csv("cbEth.csv", sep = ";")

In [76]:
cbEth

,name,open,high,low,close,volume,marketCap,timestamp
0,2781,1349.201278,1529.714182,1341.818681,1446.682707,47321528.88,0.000000e+00,2022-08-28 17:00:00
1,2781,1446.565624,1678.194164,1387.989289,1657.048010,77366715.77,0.000000e+00,2022-09-04 17:00:00
2,2781,1656.406772,1675.037564,1293.911466,1297.206825,91987506.87,0.000000e+00,2022-09-11 17:00:00
3,2781,1297.674784,1345.321344,1173.603871,1249.373329,57799150.07,0.000000e+00,2022-09-18 17:00:00
4,2781,1249.467001,1349.677109,1219.652368,1238.567156,50524614.63,0.000000e+00,2022-09-25 17:00:00
...,...,...,...,...,...,...,...,...
158,2781,4739.010272,5226.916335,4707.612799,5076.226553,73591863.49,6.427982e+08,2025-09-07 17:00:00
159,2781,5075.157036,5125.008825,4872.478584,4908.786090,51465585.40,6.163883e+08,2025-09-14 17:00:00
160,2781,4910.736001,4911.259364,4262.839924,4557.189903,82732541.79,5.499795e+08,2025-09-21 17:00:00
161,2781,4557.547310,5059.519160,4504.637414,4973.849335,46535494.56,6.016125e+08,2025-09-28 17:00:00
162,2781,4974.294553,5195.051115,4956.779166,5158.993575,0.00,0.000000e+00,2025-10-05 17:00:00

In [86]:
import requests
import pandas as pd

# --- CoinGecko API (no key required) ---
url = "https://api.coingecko.com/api/v3/coins/coinbase-wrapped-staked-eth/market_chart"
params = {"vs_currency": "usd", "days": "365"}  # last 365 days
headers = {"User-Agent": "Mozilla/5.0"}

# Request data
r = requests.get(url, params=params, headers=headers)
r.raise_for_status()
res = r.json()

# --- Build DataFrame ---
df_price = pd.DataFrame(res["prices"], columns=["timestamp", "price_usd"])
df_cap   = pd.DataFrame(res["market_caps"], columns=["timestamp", "market_cap"])

# Merge and derive circulating (â‰ˆ total) supply
df = df_price.merge(df_cap, on="timestamp")
df["supply_cbeth"] = df["market_cap"] / df["price_usd"]

# Format timestamps
df["date"] = pd.to_datetime(df["timestamp"], unit="ms")

# --- Aggregate to quarterly averages ---
df_q = df.resample("Q", on="date").mean().reset_index()
df_q["Quarter"] = df_q["date"].dt.to_period("Q").astype(str)

# --- Display results ---
print(df_q[["Quarter", "price_usd", "supply_cbeth"]])

  Quarter    price_usd   supply_cbeth
0  2024Q4  3399.968066  173575.090868
1  2025Q1  2927.739969  141615.778996
2  2025Q2  2403.992345  124663.034826
3  2025Q3  4313.902978  128048.917911
4  2025Q4  4936.662563  120971.459816

In [85]:
df

,timeOpen,timeClose,timeHigh,timeLow,name,open,high,low,close,volume,marketCap,timestamp
0,2025-10-01T00:00:00.000Z,2025-10-01T23:59:59.999Z,2025-10-01T22:10:00.000Z,2025-10-01T09:36:00.000Z,2781,0.999806,1.000322,0.999380,1.000013,1.901570e+10,7.415261e+10,2025-10-01T23:59:59.999Z
1,2025-09-30T00:00:00.000Z,2025-09-30T23:59:59.999Z,2025-09-30T14:01:00.000Z,2025-09-30T20:54:00.000Z,2781,0.999763,1.000733,0.999365,0.999795,1.624326e+10,7.387125e+10,2025-09-30T23:59:59.999Z
2,2025-09-29T00:00:00.000Z,2025-09-29T23:59:59.999Z,2025-09-29T13:44:00.000Z,2025-09-29T02:41:00.000Z,2781,0.999730,1.000711,0.999332,0.999822,1.559115e+10,7.353245e+10,2025-09-29T23:59:59.999Z
3,2025-09-28T00:00:00.000Z,2025-09-28T23:59:59.999Z,2025-09-28T22:44:00.000Z,2025-09-28T19:12:00.000Z,2781,0.999830,1.000733,0.999325,0.999900,9.271471e+09,7.368778e+10,2025-09-28T23:59:59.999Z
4,2025-09-27T00:00:00.000Z,2025-09-27T23:59:59.999Z,2025-09-27T22:18:00.000Z,2025-09-27T02:22:00.000Z,2781,0.999758,1.000428,0.999342,0.999830,8.597380e+09,7.373462e+10,2025-09-27T23:59:59.999Z
...,...,...,...,...,...,...,...,...,...,...,...,...
395,2024-09-01T00:00:00.000Z,2024-09-01T23:59:59.999Z,2024-09-01T23:09:00.000Z,2024-09-01T18:28:00.000Z,2781,0.999966,1.001240,0.999341,0.999993,3.944522e+09,3.474251e+10,2024-09-01T23:59:59.999Z
396,2024-08-31T00:00:00.000Z,2024-08-31T23:59:59.999Z,2024-08-31T06:56:00.000Z,2024-08-31T21:47:00.000Z,2781,1.000003,1.000621,0.999666,0.999972,1.982581e+09,3.472225e+10,2024-08-31T23:59:59.999Z
397,2024-08-30T00:00:00.000Z,2024-08-30T23:59:59.999Z,2024-08-30T15:38:00.000Z,2024-08-30T12:32:00.000Z,2781,0.999940,1.001266,0.999280,0.999972,6.018973e+09,3.474336e+10,2024-08-30T23:59:59.999Z
398,2024-08-29T00:00:00.000Z,2024-08-29T23:59:59.999Z,2024-08-29T18:16:00.000Z,2024-08-29T18:50:00.000Z,2781,0.999926,1.002038,0.999649,0.999963,6.251270e+09,3.464990e+10,2024-08-29T23:59:59.999Z
399,2024-08-28T00:00:00.000Z,2024-08-28T23:59:59.999Z,2024-08-28T20:33:00.000Z,2024-08-28T20:22:00.000Z,2781,1.000001,1.001446,0.999250,0.999919,7.652369e+09,3.448092e+10,2024-08-28T23:59:59.999Z

In [87]:
import requests
import pandas as pd
import time
from datetime import datetime

# --- Define your desired range (1 year before the current 365-day window) ---
# Adjust if you're running this at a different date
start_date = datetime(2023, 10, 1)
end_date   = datetime(2024, 10, 1)

# Convert to UNIX timestamps (seconds)
start_unix = int(time.mktime(start_date.timetuple()))
end_unix   = int(time.mktime(end_date.timetuple()))

# --- CoinGecko API call ---
url = "https://api.coingecko.com/api/v3/coins/coinbase-wrapped-staked-eth/market_chart/range"
params = {
    "vs_currency": "usd",
    "from": start_unix,
    "to": end_unix
}
headers = {"User-Agent": "Mozilla/5.0"}

r = requests.get(url, params=params, headers=headers)
r.raise_for_status()
res = r.json()

# --- Build DataFrame ---
df_price = pd.DataFrame(res["prices"], columns=["timestamp", "price_usd"])
df_cap   = pd.DataFrame(res["market_caps"], columns=["timestamp", "market_cap"])

# Merge and derive supply
df = df_price.merge(df_cap, on="timestamp")
df["supply_cbeth"] = df["market_cap"] / df["price_usd"]
df["date"] = pd.to_datetime(df["timestamp"], unit="ms")

# --- Aggregate to quarterly averages ---
df_q = df.resample("Q", on="date").mean().reset_index()
df_q["Quarter"] = df_q["date"].dt.to_period("Q").astype(str)

# --- Display results ---
print(df_q[["Quarter", "price_usd", "supply_cbeth"]])

HTTPError: 401 Client Error: Unauthorized for url: https://api.coingecko.com/api/v3/coins/coinbase-wrapped-staked-eth/market_chart/range?vs_currency=usd&from=1696143600&to=1727766000

In [92]:
eth = pd.read_csv("ETH_All_graph_coinmarketcap.csv", sep = ";")

In [95]:
eth["Daily_average"] = (eth["open"] + eth["close"] + eth["low"] + eth["high"]) / 4

In [96]:
eth

,name,open,high,low,close,volume,marketCap,timestamp,Daily_average
0,2781,1.353480,1.392740,0.557062,0.738644,6.199260e+05,5.435147e+07,2015-08-31 17:00:00,1.010481
1,2781,0.734307,1.345050,0.420897,0.916627,6.738920e+05,6.816337e+07,2015-09-30 17:00:00,0.854220
2,2781,0.920847,1.106420,0.725665,0.873119,7.844390e+05,6.558956e+07,2015-10-31 17:00:00,0.906513
3,2781,0.878316,1.045370,0.770488,0.933542,6.639940e+05,7.085802e+07,2015-11-30 16:00:00,0.906929
4,2781,0.933712,2.836990,0.929835,2.306040,5.847500e+06,1.768344e+08,2015-12-31 16:00:00,1.751644
...,...,...,...,...,...,...,...,...,...
117,2781,2529.096604,2877.629290,2116.681481,2486.464333,5.977829e+11,3.001562e+11,2025-05-31 17:00:00,2502.467927
118,2781,2486.428479,3940.652049,2378.393527,3696.707781,9.688567e+11,4.461623e+11,2025-06-30 17:00:00,3125.545459
119,2781,3696.144377,4953.732914,3357.938940,4390.019130,1.359827e+12,5.298568e+11,2025-07-31 17:00:00,4099.458840
120,2781,4389.626079,4763.361237,3829.010826,4145.957727,1.053487e+12,5.004397e+11,2025-08-31 17:00:00,4281.988967
121,2781,4145.623992,4735.342480,4125.542063,4687.749409,0.000000e+00,0.000000e+00,2025-09-30 17:00:00,4423.564486

In [105]:
eth["timestamp"] = pd.to_datetime(eth["timestamp"])
eth["Quarter"] = eth["timestamp"].dt.to_period("Q")

avg_price_eth = eth.groupby('Quarter')['Daily_average'].mean().reset_index()

In [106]:
avg_price_eth[-5:]

   Quarter  Daily_average
36  2024Q3    2608.335413
37  2024Q4    3321.717088
38  2025Q1    2189.087144
39  2025Q2    2614.437486
40  2025Q3    4268.337431

In [103]:
protocol = pd.read_csv("styeth_20251007_041643.csv")

In [109]:
protocol["Date"] = pd.to_datetime(protocol["Date"])

In [110]:
protocol

                    Date  STYETH
0    2025-10-06 15:00:00  2.8580
1    2025-10-05 15:00:00  2.8588
2    2025-10-04 15:00:00  2.8587
3    2025-10-03 15:00:00  2.8835
4    2025-10-02 15:00:00  2.9030
...                  ...     ...
1096 2022-10-06 15:00:00  5.5289
1097 2022-10-05 15:00:00  5.4359
1098 2022-10-04 15:00:00  5.4568
1099 2022-10-03 15:00:00  5.3649
1100 2022-10-02 15:00:00  5.2688

[1101 rows x 2 columns]

In [113]:
protocol["Quarter"] = protocol["Date"].dt.to_period("Q")

avg_rate_protocol = protocol.groupby('Quarter')['STYETH'].mean().reset_index()

In [114]:
avg_rate_protocol

   Quarter    STYETH
0   2022Q4  5.212811
1   2023Q1  4.921839
2   2023Q2  5.140130
3   2023Q3  4.160755
4   2023Q4  3.693667
5   2024Q1  3.515956
6   2024Q2  3.288151
7   2024Q3  3.201258
8   2024Q4  3.218272
9   2025Q1  3.070522
10  2025Q2  3.032374
11  2025Q3  2.927942
12  2025Q4  2.875350

### Creating proxy for avg_fiat_balance using balance sheet data

In [6]:
import pandas as pd
import numpy as np

# ------------------------------------------------------------
# 1. Quarterly balance sheet inputs (from 10-Q / 10-K)
# Values in thousands USD from filings
# ------------------------------------------------------------
data = pd.DataFrame({
    "Quarter": ["2023Q4","2024Q1", "2024Q2", "2024Q3", "2024Q4", "2025Q1", "2025Q2"],
    
    # Customer custodial funds (Assets)
    # e.g., from Balance Sheet Assets section
    "custodial_funds_asset": [4570845, 5201906, 4197837, 4035045, 6158949, 5369865, 5121640],
    
    # Customer custodial fund liabilities (for validation)
    "custodial_funds_liab": [4570845, 5201906, 4197837, 4035045, 6158949, 5369865, 5121640],
    
    # USDC (Assets) â€” from balance sheet line item
    "usdc_asset": [576028, 860669, 1056648, 871425, 1241808, 2225054, 2153824],
    
    # Optional diagnostics
    "cash_and_cash_equiv": [5139351, 6711400, 722535, 7723806, 8543903, 8051169, 7539388]
})

# ------------------------------------------------------------
# 2. Adjust for non-fiat portion (subtract USDC)
# ------------------------------------------------------------
data["adj_custodial_asset"] = data["custodial_funds_asset"] - data["usdc_asset"]

# ------------------------------------------------------------
# 3. Compute average fiat balance between quarters (in billions)
# ------------------------------------------------------------
data["avg_fiat_balance_bil"] = (
    (data["adj_custodial_asset"] + data["adj_custodial_asset"].shift(1)) / 2
) / 1e6  # convert thousands â†’ billions

# ------------------------------------------------------------
# 4. Optional: apply fiat-mix ratio if you want to scale by assumption (e.g., 80%)
# ------------------------------------------------------------
fiat_ratio = 0.8
data["avg_fiat_balance_bil_scaled"] = data["avg_fiat_balance_bil"] * fiat_ratio

# ------------------------------------------------------------
# 5. Display results
# ------------------------------------------------------------
pd.set_option("display.float_format", lambda x: f"{x:,.2f}")
print(data[["Quarter", "custodial_funds_asset", "usdc_asset",
            "adj_custodial_asset", "avg_fiat_balance_bil_scaled"]])

  Quarter  custodial_funds_asset  usdc_asset  adj_custodial_asset  \
0  2023Q4                4570845      576028              3994817
1  2024Q1                5201906      860669              4341237
2  2024Q2                4197837     1056648              3141189
3  2024Q3                4035045      871425              3163620
4  2024Q4                6158949     1241808              4917141
5  2025Q1                5369865     2225054              3144811
6  2025Q2                5121640     2153824              2967816

   avg_fiat_balance_bil_scaled
0                          NaN
1                         3.33
2                         2.99
3                         2.52
4                         3.23
5                         3.22
6                         2.45

In [5]:
data

,Quarter,custodial_funds_asset,custodial_funds_liab,usdc_asset,cash_and_cash_equiv,adj_custodial_asset,avg_fiat_balance_bil,avg_fiat_balance_bil_scaled
0,2024Q1,5201906,5201906,860669,6711400,4341237,4.34,3.47
1,2024Q2,4197837,4197837,1056648,722535,3141189,3.74,2.99
2,2024Q3,4035045,4035045,871425,7723806,3163620,3.15,2.52
3,2024Q4,6158949,6158949,1241808,8543903,4917141,4.04,3.23
4,2025Q1,5369865,5369865,2225054,8051169,3144811,4.03,3.22
5,2025Q2,5121640,5121640,2153824,7539388,2967816,3.06,2.45

### loan_balance_index calculation

In [10]:
import pandas as pd
import numpy as np

# ------------------------------------------------------------
# 1. Initialize quarterly periods
# ------------------------------------------------------------
quarters = ["2024Q1","2024Q2","2024Q3","2024Q4","2025Q1","2025Q2","2025Q3"]

_balance_df = pd.DataFrame({"Quarter": quarters})

# ------------------------------------------------------------
# 2. Input underlying data (replace placeholders with real metrics)
#    Units: USD billions for OI/Volume, USD for BTC price
# ------------------------------------------------------------
loan_balance_df["btc_open_interest_usd_bil"] = [30, 33.5, 37, 40, 42, 40.5, 48]
loan_balance_df["eth_open_interest_usd_bil"] = [8.5, 10.0, 12.5, 16.0, 19.0, 17.5, 21.0]
loan_balance_df["total_trading_volume_usd_bil"] = [240, 220, 210, 320, 300, 215, 290]
loan_balance_df["btc_price_usd"] = [27000, 29000, 31000, 40000, 48000, 52000, 55000]

# ------------------------------------------------------------
# 3. Normalize each input to Q1_2024 = 1.0
# ------------------------------------------------------------
def normalize(series):
    return series / series.iloc[0]

loan_balance_df["norm_open_interest"] = normalize(
    loan_balance_df["btc_open_interest_usd_bil"] + loan_balance_df["eth_open_interest_usd_bil"]
)
loan_balance_df["norm_volume"] = normalize(loan_balance_df["total_trading_volume_usd_bil"])
loan_balance_df["norm_btc_price"] = normalize(loan_balance_df["btc_price_usd"])

# ------------------------------------------------------------
# 4. Weighted composite index (weights: 40% OI, 40% Volume, 20% BTC Price)
# ------------------------------------------------------------
loan_balance_df["loan_balance_index"] = (
    0.4 * loan_balance_df["norm_open_interest"]
    + 0.4 * loan_balance_df["norm_volume"]
    + 0.2 * loan_balance_df["norm_btc_price"]
)

# ------------------------------------------------------------
# 5. Optional: Scale to mean = 1 for easier interpretation
# ------------------------------------------------------------
loan_balance_df["loan_balance_index"] /= loan_balance_df["loan_balance_index"].mean()

# ------------------------------------------------------------
# 6. Display summary
# ------------------------------------------------------------
pd.set_option("display.float_format", lambda x: f"{x:,.2f}")
print(loan_balance_df[[
    "Quarter",
    "loan_balance_index",
    "norm_open_interest",
    "norm_volume",
    "norm_btc_price"
]])

  Quarter  loan_balance_index  norm_open_interest  norm_volume  norm_btc_price
0  2024Q1                0.78                1.00         1.00            1.00
1  2024Q2                0.81                1.13         0.92            1.07
2  2024Q3                0.85                1.29         0.88            1.15
3  2024Q4                1.10                1.45         1.33            1.48
4  2025Q1                1.16                1.58         1.25            1.78
5  2025Q2                1.05                1.51         0.90            1.93
6  2025Q3                1.25                1.79         1.21            2.04

### Getting updated value for avg marketcap of USDC

In [6]:
import pandas as pd
df = pd.read_csv("/Users/harshgovindji/Desktop/coinbase/SNS_Revenue/data/updated_avg_Mcap_USDC.csv", sep = ";")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364 entries, 0 to 363
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               364 non-null    int64
 1   open               364 non-null    float64
 2   high               364 non-null    float64
 3   low                364 non-null    float64
 4   close              364 non-null    float64
 5   volume             364 non-null    float64
 6   marketCap          364 non-null    float64
 7   circulatingSupply  364 non-null    float64
 8   timestamp          364 non-null    object
dtypes: float64(7), int64(1), object(1)
memory usage: 25.7+ KB

In [8]:
import pandas as pd

# --- Ensure timestamp is datetime ---
df["timestamp"] = pd.to_datetime(df["timestamp"], utc=True)

# --- Create a Quarter column ---
df["Quarter"] = df["timestamp"].dt.to_period("Q").astype(str)

# --- Compute average market cap per quarter ---
quarterly_marketcap = (
    df.groupby("Quarter", as_index=False)["marketCap"]
      .mean()
      .rename(columns={"marketCap": "avg_marketcap"})
)

print(quarterly_marketcap)

   Quarter  avg_marketcap
0   2018Q4   1.740315e+08
1   2019Q1   2.738437e+08
2   2019Q2   3.271287e+08
3   2019Q3   4.258563e+08
4   2019Q4   4.761115e+08
5   2020Q1   5.060087e+08
6   2020Q2   7.618357e+08
7   2020Q3   1.601958e+09
8   2020Q4   3.100914e+09
9   2021Q1   7.796003e+09
10  2021Q2   1.815060e+10
11  2021Q3   2.819681e+10
12  2021Q4   3.727848e+10
13  2022Q1   5.060676e+10
14  2022Q2   5.222305e+10
15  2022Q3   5.254730e+10
16  2022Q4   4.413327e+10
17  2023Q1   4.069841e+10
18  2023Q2   2.970917e+10
19  2023Q3   2.629819e+10
20  2023Q4   2.485035e+10
21  2024Q1   2.892767e+10
22  2024Q2   3.295882e+10
23  2024Q3   3.482215e+10
24  2024Q4   3.908133e+10
25  2025Q1   5.559112e+10
26  2025Q2   6.128348e+10
27  2025Q3   6.904423e+10
28  2025Q4   7.566696e+10

/var/folders/tb/zk15pcq16yng7wq853lq67ph0000gn/T/ipykernel_82927/1374755468.py:7: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  df["Quarter"] = df["timestamp"].dt.to_period("Q").astype(str)